
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'music_Artista_list' %}">
    Artista Listing
    </a>
</p>
    
<form method="post">
{% csrf_token %}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="Url">Url: </label>
  <input class="form-control col-sm-10" id="Url" type="text" name="Url" value="{{ object.Url }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="PictureUrl">PictureUrl: </label>
  <input class="form-control col-sm-10" id="PictureUrl" type="text" name="PictureUrl" value="{{ object.PictureUrl }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="Nombre">Nombre: </label>
  <input class="form-control col-sm-10" id="Nombre" type="text" name="Nombre" value="{{ object.Nombre }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="IdArtista">IdArtista: </label>
  <input class="form-control col-sm-10" id="IdArtista" type="number" name="IdArtista" value="{{ object.IdArtista }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}