
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'music_Artista_list' %}">
    Artista Listing
    </a>
</p>
    
<table class="table">
    <tr><td>Url</td><td>{{ object.Url }}</td></tr>
    <tr><td>PictureUrl</td><td>{{ object.PictureUrl }}</td></tr>
    <tr><td>Nombre</td><td>{{ object.Nombre }}</td></tr>
    <tr><td>IdArtista</td><td>{{ object.IdArtista }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}