
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'music_UsuarioArtista_list' %}">
    UsuarioArtista Listing
    </a>
</p>
    
<form method="post">
{% csrf_token %}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="TiempoEscucha">TiempoEscucha: </label>
  <input class="form-control col-sm-10" id="TiempoEscucha" type="number" name="TiempoEscucha" value="{{ object.TiempoEscucha }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}