{% load static %}
<html lang="en">
<head>

<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="css/main_stylesheet.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

<!-- Viewport -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Charset -->
<meta charset="utf-8">

<style>

.divElement{
  padding-top: 15%;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}


</style>


</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light bg-dark">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link text-white"
				href="http://127.0.0.1:8000/offers/index/">Home<span class="sr-only">(current)</span></a></li>
			<li class="nav-item"><a class="nav-link text-white" href="http://127.0.0.1:8000/offers/search">Buscar prácticas</a></li>
			<li class="nav-item"><a class="nav-link text-white" href="http://127.0.0.1:8000/offers/popularoffers">Prácticas más populares</a></li>
			<li class="nav-item"><a class="nav-link text-white" href="http://127.0.0.1:8000/offers/recom">Recomendar prácticas</a></li>
			<li class="nav-item"><a class="nav-link text-white" href="http://127.0.0.1:8000/offers/extractcsv">Extraer prácticas en csv</a></li>
			<li class="nav-item"><a class="nav-link text-white" href="http://127.0.0.1:8000/offers/populate">Escanea más prácticas</a></li>
		</ul>
	</div>
</nav>

<body class="hero is-info">
	{% block content %}


<div class="container divElement">
  <h1 class="display-4">Bienvend@ a Dédalo</h1>
  <p class="lead">Encuentra tus prácticas de empresa</p>
  <hr class="my-4">
  <p>Dédalo es una web que te ayuda a encontrar las prácticas de empresas ideales para tí. Y en unos solos clicks.</p>
</div>


	{% endblock %}
</body>

<footer class="page-footer font-small bg-dark">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
</html>